@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


/* Tu código CSS */

 .appBody {
    width: 100%;
    padding: 0;
}

 .appHeader {
    width: 100%;
    margin: 0;
}

.appFooter {
    background-color: #333; /* Cambia esto al color de fondo deseado */
    color: white; /* Cambia esto al color de texto deseado */
    padding: 20px;
    position: relative; /* Cambiado de fixed a relative */
    margin-top: auto; /* Asegura que se quede en la parte inferior */
    width: 100%;
}


 .container-fluid {
    margin: 0;
    padding: 0;
}
